################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/2D/vj-2d/NK/Night Knight/.vs/Night Knight/v17/Browse.VC.opendb
/project/vj-2d/NK/Night Knight/.vs/Night Knight/v17/Browse.VC.opendb
